/* ===================================
   General
=================================== */
*{
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);

    margin: 0px;
}

/* ===================================
   Typography
=================================== */
@font-face{
    src: url();
    font-family: "";
}

:root {
    --background-color: #1B1B1B;
    --widget-color: rgb(160, 156, 156);
    --text-color: #FFFFFF;
    --border-radius: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
    text-align:center;
}

h2{
   margin: 0;
}

p{
   margin: 0;
    color: black;
}

/* ===================================
   Layout
=================================== */
body{
   height: 100vh;
   display: grid;
   grid-template-rows: auto 1fr auto;
   gap: 10px;
}

header {

}

main {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

footer {

}

/* ===================================
   Widgets
=================================== */
.widget{
    color: var(--text-color);
    background-color: var(--widget-color);

    border-radius: var(--border-radius);

    margin: 0px;
    padding: 20px;
    
    text-align: center;

}

/* ===================================
   Clock Widget
=================================== */
.clock-widget{
    
}

/* ===================================
   Weather Widget
=================================== */
.weather-widget{

}

/* ===================================
   Calendar Widget
=================================== */
.calendar-widget{

}

/* ===================================
   Spotify Widget
=================================== */
.spotify-widget{

}

/* ===================================
   System Widget
=================================== */
.system-widget{

}