/* ===================================
   General
=================================== */
*{
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);

    margin: 0px;
}

/* ===================================
   Typography
=================================== */
@font-face{
    src: url();
    font-family: "";
}

:root {
    --background-color: #1B1B1B;
    --widget-color: rgb(160, 156, 156);
    --text-color: #FFFFFF;
    --border-radius: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
   margin: 0;
}

h3{
   margin: 0;
}

p{
   margin: 0;
}

/* ===================================
   Layout
=================================== */
body{
   height: 100vh;
   display: grid;
   grid-template-rows: auto 1fr auto;
   
   gap: 10px;
   padding:10px;
}

header {
      
}

main {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

footer {

}

/* ===================================
   Widgets
=================================== */
.widget{
    color: var(--text-color);
    background-color: var(--widget-color);

    border-radius: var(--border-radius);

    margin: 0px;
    padding: 1vw;
    
    text-align: center;

}

/* ===================================
   Clock Widget
=================================== */
.clock-widget{
   
}

.clock-info{
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content:center;
}

/* ===================================
   Weather Widget
=================================== */
.weather-widget{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.weather-location{

}

.weather-current{
   display: flex;
   justify-content:center;
   gap: 20px
}

.weather-details{
   display: flex;
   justify-content: space-evenly;
   width:100%;
}

.weather-description{
   font-size: 30px;
}

.weather-forecast{
   display: flex;
   justify-content: space-evenly;
   width:100%;
}

.weather-forecast-day{
   justify-content: center;
   text-align: center;
}

.weather-forecast-icon{
   font-size: 50px;
}

.weather-forecast-temperature{
   font-weight: bold;
   font-size: 2em;
}

.weather-temperature{
   font-weight: bold;
   font-size: 5em;
}

.weather-icon{
   font-size: 60px;
}

/* ===================================
   Calendar Widget
=================================== */
.calendar-widget{

}

/* ===================================
   Spotify Widget
=================================== */
.spotify-widget{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
}

.controls{
    display:flex;
    justify-content:center;
    gap:10px;
}

.progress{
   display: flex;
   align-items: center;
   gap: 10px;
}

.cover{
   color: black;
   background-color: white;

    width: 20vw;
    aspect-ratio:1;

    
    border: 5px solid;
    font-size: 2em;

}



/* ===================================
   System Widget
=================================== */
.system-widget{

}